@charset "UTF-8";
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
a {
  text-decoration: none;
}
h1 {
  color: #1b683a;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  font-family: "Anton", sans-serif;
}

header a {
  text-decoration: none;
  color: black;
}

.searchDiv {
  text-align: center;
}
.login {
  display: inline-flex;
  list-style: none;
  float: right;
  margin: 0;
}
.form-control {
  width: 30%;
  display: inline;
  padding-top: 4px;
  border-color: #198754;
}

nav div {
  background-color: aqua;
  margin-top: 10px;
}
article div {
  background-color: beige;
}
aside div {
  background-color: rgb(163, 136, 119);
}
footer div {
  background-color: rgb(216, 193, 193);
}


/** --------------category css -------------------*/
nav div ul {
  list-style: none;
}
.box {
  text-align: center;
  margin-bottom: 20px;
}
.box ul {
  display: inline-block;
}
.box ul li {
  float: left;
  padding-left: 40px;
  padding-right: 40px;
}

/** ------------main css------------------*/
.allView {
  /*float: right;*/
  display: inline-block;
}
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main article {
  width: 60%;
  margin-right: 1%;
}
.main aside {
  width: 39%;
}
.main footer {
  width: 100%;
}
footer div a img {
  width: 20px;
}
